- content_for(:page_title){ "Edit event ##{@event.id}" }

%h2 Edit event #{@event.id}

= form_for @event, url: admin_event_path(@event), method: :put do |f|
  = render "shared/error_messages", target: @event
  = render "form", f: f

  = submit_tag "Update", class: "btn btn-primary"

%hr

= link_to "Delete this event", admin_event_path(@event), method: :delete, data: {confirm: "Do you really want to delete this event?"}, class: "delete"